// globals
$body-font-family:	'Roboto', sans-serif !default;
$font-size-root: 16px;
$border-radius-root: 6px;
$shadow-key-ambient-opacity: rgba(85, 85, 85, 0.06);
$shadow-key-penumbra-opacity: rgba(85, 85, 85, 0.03);

// v-navigation-drawer
$navigation-drawer-border-width: 0;

// v-card
$card-elevation: 16;
$card-subtitle-padding: 24px;

// v-list
$list-dense-content-padding: 12px 0;
$list-dense-icon-margin: 12px;
$list-item-dense-title-font-size: 15px;
